<div class="container">
    <nav class="navbar is-size-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-semibold" href="/">
                <i class="fa fa-video-camera fa-rotate-180"></i><i class="fa fa-minus fa-rotate-90"></i><i
                    class="fa fa-video-camera"></i>
            </a>
            <a class="navbar-item has-text-weight-semibold" href="/">
                CCTV
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navbarMain">
            <div class="navbar-end has-text-centered-touch">

                {{ range .Site.Menus.main }}
                <a class="navbar-item" href="{{ .URL }}">
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
                {{ end }}

            </div>
        </div>

    </nav>
</div>