<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="CCTV">
    <meta name="author" content="Alex Stefanescu">

    <meta property="og:title" content="CCTV">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
    <meta property="og:description" content="CCTV">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/map.css"/>
    <link rel="stylesheet" type="text/css" href="/css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="/css/Fork-Awesome-1.2.0/css/fork-awesome.min.css">
    
    <script src="/js/navbar.js" ></script>
    <script src="/js/leaflet.js" ></script>
</head>