<div class="section pt-0">
    <div class="container is-size-5">
      <h2 class="subtitle">
        <b>Articole recente</b>
      </h2>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-sticky-note has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://panorama.ro/big-brother-la-tara-cctv-bani-supraveghere/" target="_blank" 
              rel="noopener">[02 noiembrie 2022] Big Brother la țară. Cât cheltuie statul pentru sisteme de supraveghere</a>
            </p>
          </div>
        </div>
      </div>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-sticky-note has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://panorama.ro/camere-supraveghere-spatiu-public-sfaturi-juridice/" target="_blank"
                rel="noopener">[26 octombrie 2022] Statul cu o geană pe noi: un caz practic și 6 sfaturi juridice pentru autoritățile care
                pun camere video în spațiul public</a>
            </p>
          </div>
        </div>
      </div>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-sticky-note has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://panorama.ro/autoritati-camere-supraveghere-cum-reactioneaza/" target="_blank"
                rel="noopener">[31 mai 2022] Ochii ageri ai autorităților ne privesc prin camere de supraveghere. Cum reacționează când
                le ceri socoteală?</a>
            </p>
          </div>
        </div>
      </div>
  
      <!-- {{ range (where .Site.RegularPages "Section" "blog" | first 5) }}
    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </p>
        </div>
      </div>
    </div>
    {{ end }} -->
  
  
  
    </div>
  </div>
  
  <div class="section pt-0">
    <div class="container is-size-5">
      <h2 class="subtitle">
        <b>Resurse</b>
      </h2>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-map-marker has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="{{ "/harti/" | safeHTML }}">Hărți cu amplasamentul camerelor de supraveghere</a>
            </p>
          </div>
        </div>
      </div>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-cloud-download has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://github.com/catileptic/CCTV-ApTI/blob/main/raspunsuri-544.zip?raw=true">
                Răspunsurile primăriilor la întrebări despre CCTV</a>
            </p>
          </div>
        </div>
      </div>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-external-link has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://docs.google.com/spreadsheets/d/1KAE7DWpwohxXw1y_bIr8iZ8BJtIt6I_-8hqH80xGS5k/edit#gid=0">
                Achizițiile publice directe de camere CCTV</a>
            </p>
          </div>
        </div>
      </div>
  
      <div class="media">
        <figure class="media-left">
          <i class="fa fa-id-badge has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="{{ "/cerere/" | safeHTML }}">Model cerere de access conform GDPR pentru a obține imaginile cu tine, inregistrate de
                camere</a>
            </p>
          </div>
        </div>
      </div>

      <div class="media">
        <figure class="media-left">
          <i class="fa fa-code has-text-danger"></i>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="https://github.com/catileptic/CCTV-ApTI">Codul sursă al proiectului</a>
            </p>
          </div>
        </div>
      </div>
  
    </div>
  </div>