{{ define "main" }}
<section class="hero is-info is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column is-6-dekstop has-text-centered-mobile">
          <p class="title is-spaced ">
            Supravegherea spațiului public
          </p>
          <p class="subtitle">
            În ultimii trei ani, autoritățile din România au încheiat peste <b>8.300</b> de contracte de achiziții
            directe având
            ca obiect camere de supraveghere a spațiului public. Suma totală se apropie de <b>40 de milioane</b> de
            euro.
          </p>
          <p class="subtitle">
            Investițiile în supravegherea spațiului public sunt, în general, bine primite de cetățeni, pentru că aduc
            măcar iluzia unei securități mai bune.
          </p>
          <p class="subtitle">
            Încurajați de această susținere, și pentru că echipamentele devin
            tot mai accesibile, primarii continuă să achiziționeze camere de supraveghere. </p>
        </div>
        <div class="column is-6-dekstop is-size-1 has-text-centered is-hidden-mobile">
          <figure class="media-left">
            <i class="fa fa-circle fa-4x has-text-danger blink"></i>
          </figure>
          <p class="blink">REC</p>
        </div>

      </div>

    </div>

  </div>
</section>

<div class="section">
  <div class="container is-size-5">
    <h2 class="subtitle">
      <b>Se ridică, însă, câteva întrebări importante din perspectiva interesului public.</b>
    </h2>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-question has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><b>Ce se întâmplă cu toate datele strânse de camerele de supraveghere?</b></p>
        </div>
      </div>
    </div>
    <p class="pt-3">
      În general, autoritățile „bifează
      GDPR-ul”, adică angajează consultanți care produc hârtiile justificative necesare. În cele mai multe
      cazuri, procedurile rămân doar forme fără fond. Este neclar cine îi supraveghează pe supraveghetori,
      care este limita între dreptul la viață privată și interesul public, și dacă datele culese sunt cu adevărat
      protejate. Uneori, este neclar și unde merg datele, spre exemplu atunci când camerele vin cu un serviciu
      de tip cloud localizat în China.
    </p>

    <div class="media pt-3">
      <figure class="media-left">
        <i class="fa fa-question has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><b>Care este impactul folosirii camerelor?</b></p>
        </div>
      </div>
    </div>
    <p class="pt-3">
      Nu știe aproape nimeni să ne spună dacă a scăzut criminalitatea
      în urma instalării sistemelor de supraveghere, dar investițiile continuă să crească. Este aproape imposibil
      să găsești o strategie de amplasare a camerelor. Și nici nu e limpede cum sunt ele integrate cu legislația
      privind sancționarea infracțiunilor, astfel încât să conducă la rezultate concrete.
    </p>

    <div class="media pt-3">
      <figure class="media-left">
        <i class="fa fa-question has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><b>Cine câștigă de pe urma investițiilor?</b></p>
        </div>
      </div>
    </div>
    <p class="pt-3">
      Estimăm că achizițiile directe de aproape 40 de milioane de euro,
      din ultimii trei ani, sunt doar vârful aisbergului. Nu toate achizițiile sunt declarate pe portalul național.
      Sunt și alte tipuri de contracte. Și se adaugă costurile de mentenanță. Este o nișă de piață care tot
      crește, cu clienți mai ales din sectorul public. Experiența ne învață că atunci când sectorul public
      investește mulți bani în ceva, atunci există și câștigători, nu neapărat cetățenii.
    </p>

    <div class="media pt-3">
      <figure class="media-left">
        <i class="fa fa-question has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><b>Și, până la urmă, unde sunt camerele?</b></p>
        </div>
      </div>
    </div>
    <p class="pt-3">
      Este aproape imposibil să identifici cu exactitate locurile în care
      sunt amplasate camerele, și cu atât mai puțin zonele supuse supravegherii permanente. Teoretic,
      oriunde te-ai afla, cineva se poate uita la tine (și nici n-am intrat în discuția despre camerele private).
    </p>
  </div>
</div>

<div class="section">
  <div class="container is-size-5">
    <h2 class="subtitle">
      <b>Resurse</b>
    </h2>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-map-marker has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ " /harti/" | safeHTML }}">Hărți cu amplasamentul camerelor de supraveghere</a>
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-envelope has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="{{ " /cerere/" | safeHTML }}">Model cerere pentru a obține imaginile cu tine, inregistrate de
              camere</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="section">
  <div class="container is-size-5">
    <h2 class="subtitle">
      <b>Articole recente</b>
    </h2>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="" target="_blank" rel="noopener">Articol achiziții publice</a>
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="" target="_blank" rel="noopener">Articol etică</a>
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="https://panorama.ro/camere-supraveghere-spatiu-public-sfaturi-juridice/" target="_blank"
              rel="noopener">Statul cu o geană pe noi: un caz practic și 6 sfaturi juridice pentru autoritățile care
              pun camere video în spațiul public</a>
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="https://panorama.ro/autoritati-camere-supraveghere-cum-reactioneaza/" target="_blank"
              rel="noopener">Ochii ageri ai autorităților ne privesc prin camere de supraveghere. Cum reacționează
              când
              le ceri socoteală?</a>
          </p>
        </div>
      </div>
    </div>

    <div class="media">
      <figure class="media-left">
        <i class="fa fa-sticky-note has-text-danger"></i>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <a href="" target="_blank" rel="noopener">Articol securitate</a>
          </p>
        </div>
      </div>
    </div>

    <!-- {{ range (where .Site.RegularPages "Section" "blog" | first 5) }}
  <div class="media">
    <figure class="media-left">
      <i class="fa fa-sticky-note has-text-danger"></i>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </p>
      </div>
    </div>
  </div>
  {{ end }} -->



  </div>
</div>

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered row-reverse">
        <div class="column is-6-dekstop has-text-centered-mobile">
          <p class="title is-spaced ">
            Vrei să vezi exact răspunsurile pe care le-am primit de la autorități?
          </p>
          <p class="subtitle">
            Toate datele pe care le-am primit sunt informații de interes public și sunt obținute ca răspuns la cereri
            formulate în baza legii 544/2001.
          </p>
          <a href="https://github.com/catileptic/CCTV-ApTI/blob/main/raspunsuri-544.zip?raw=true" download>
          <button class="button is-danger is-size-5">
            <span class="icon is-small"><i class="fa fa-download"></i></span>
            <span>Descarcă datele</span>
          </button>
          </a>
        </div>
        <div class="column is-6-dekstop is-size-1 has-text-centered">
        </div>

      </div>

    </div>

  </div>
</section>

{{ end }}